!python -m pip install pymongo

!pip install pymongo[srv]

# Connection to Atlas: Create a Database

In [5]:
import pymongo
client_atlas = pymongo.MongoClient("mongodb+srv://satya8430:satya8430@cluster1.2cxrr.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db_atlas = client_atlas.test

# Connection to local: Create A Database

In [1]:
import pymongo

DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "iNeuron"

client_local = pymongo.MongoClient(DEFAULT_CONNECTION_URL)
db_local = client_local[DB_NAME]

In [2]:
#View Existing list of Databases

client_local.list_database_names()
#client_atlas.list_database_names()

['admin', 'config', 'iNeuron', 'local']

# Create Collection in Database

In [3]:
collection = db_local['product_record']

# Insert a record in the collection

In [4]:
record = {'CompanyName': 'iNeuron',
         'product': 'Data Analyst',
         'prices': 15000}
collection.insert_one(record)

# Insert many record in the collection

In [5]:
records =[
    {
        'CompanyName': 'iNeuron',
        'product': 'Python',
         'prices': 6000
    },
    {
        'CompanyName': 'iNeuron',
        'product': 'Statistic',
         'prices': 5000,
        'pre-requisite': 'Python'
    },
    {
        'CompanyName': 'iNeuron',
        'product': 'Database',
         'prices': 6000
    }
]

collection.insert_many(records)

In [15]:
COLLECTION_NAME = "iNeuron-Students"
students = db_local[COLLECTION_NAME]

list_of_students_record =[
    {
        "_id": 8,
        "student_name": "Ranjit",
        "courses_applied":["Python"],
        "contact": "ranjit@email.com"
    },
    {
        "_id": 5,
        "student_name": "Dev",
        "courses_applied":["DS","Algorithm","Java"],
        "contact": "dev12@email.com"
    },
    {
        "_id": 4,
        "student_name": "Iyer",
        "courses_applied":["Python","Databases","Algo"],
        "contact": "iyer1@email.com"
    }
]

students.insert_many(list_of_students_record)


# Find Method of MongoDb

In [16]:
find_first_record = students.find_one()
print("Collection Name: ", COLLECTION_NAME)
print(find_first_record)

Collection Name:  iNeuron-Students
{'_id': 1, 'student_name': 'Ranjit', 'courses_applied': ['Python'], 'contact': 'ranjit@email.com'}

In [17]:
students.find()    #Fetch all records from that collection
for student in students.find():
    print(student)

{'_id': 1, 'student_name': 'Ranjit', 'courses_applied': ['Python'], 'contact': 'ranjit@email.com'}
{'_id': 2, 'student_name': 'Dev', 'courses_applied': ['DS', 'Algorithm', 'Java'], 'contact': 'dev12@email.com'}
{'_id': 3, 'student_name': 'Iyer', 'courses_applied': ['Python', 'Databases', 'Algo'], 'contact': 'iyer1@email.com'}
{'_id': 8, 'student_name': 'Ranjit', 'courses_applied': ['Python'], 'contact': 'ranjit@email.com'}
{'_id': 5, 'student_name': 'Dev', 'courses_applied': ['DS', 'Algorithm', 'Java'], 'contact': 'dev12@email.com'}
{'_id': 4, 'student_name': 'Iyer', 'courses_applied': ['Python', 'Databases', 'Algo'], 'contact': 'iyer1@email.com'}

In [18]:
#Find all records with specific fields
all_records = students.find({},{'student_name'})

for student in all_records:
    print(student)

{'_id': 1, 'student_name': 'Ranjit'}
{'_id': 2, 'student_name': 'Dev'}
{'_id': 3, 'student_name': 'Iyer'}
{'_id': 8, 'student_name': 'Ranjit'}
{'_id': 5, 'student_name': 'Dev'}
{'_id': 4, 'student_name': 'Iyer'}

# Query or Filter out Data in MongoDb

In [19]:
query1 = {"_id": 1}

results = students.find(query1)
for res in results:
    print(res)

{'_id': 1, 'student_name': 'Ranjit', 'courses_applied': ['Python'], 'contact': 'ranjit@email.com'}

In [20]:
query2 = {"_id":{"$gt":1}}

results = students.find(query2)
for res in results:
    print(res)

{'_id': 2, 'student_name': 'Dev', 'courses_applied': ['DS', 'Algorithm', 'Java'], 'contact': 'dev12@email.com'}
{'_id': 3, 'student_name': 'Iyer', 'courses_applied': ['Python', 'Databases', 'Algo'], 'contact': 'iyer1@email.com'}
{'_id': 4, 'student_name': 'Iyer', 'courses_applied': ['Python', 'Databases', 'Algo'], 'contact': 'iyer1@email.com'}
{'_id': 5, 'student_name': 'Dev', 'courses_applied': ['DS', 'Algorithm', 'Java'], 'contact': 'dev12@email.com'}
{'_id': 8, 'student_name': 'Ranjit', 'courses_applied': ['Python'], 'contact': 'ranjit@email.com'}

# Delete One or many documents i MongoDb

In [38]:
members_data =[
    {
        "_id": 1,
        "name": "Rakhi",
        "age": 19,
        "sex": "Female"
    },
    {
        "_id": 4,
        "name": "Monika",
        "age": 24,
        "sex": "Female"
    },
    {
        "_id": 5,
        "name": "Geeta",
        "age":42,
        "sex": "Female"
    },
    {
        "_id": 6,
        "name": "Ajay",
        "age":39,
        "sex": "Male"
    },
    {
        "_id": 8,
        "name": "Suresh",
        "age":29,
        "sex": "Male"
    }
]

COLLECTION_NAME = "Community-Members"
com_members = db_local[COLLECTION_NAME]

com_members.insert_many(members_data)

In [39]:
#delete one data from find result
query_to_delete = {"name":"Monika"}
com_members.delete_one(query_to_delete)
for mem in com_members.find():
    print(mem)

{'_id': 1, 'name': 'Rakhi', 'age': 19, 'sex': 'Female'}
{'_id': 5, 'name': 'Geeta', 'age': 42, 'sex': 'Female'}
{'_id': 6, 'name': 'Ajay', 'age': 39, 'sex': 'Male'}
{'_id': 8, 'name': 'Suresh', 'age': 29, 'sex': 'Male'}

In [40]:
#delete all data from find result
query_to_delete = {"sex":"Male"}
com_members.delete_many(query_to_delete)
for mem in com_members.find():
    print(mem)

{'_id': 1, 'name': 'Rakhi', 'age': 19, 'sex': 'Female'}
{'_id': 5, 'name': 'Geeta', 'age': 42, 'sex': 'Female'}

# Update

In [59]:
COLLECTION_NAME = "product_record"

products = db_local[COLLECTION_NAME]

all_records = products.find()
for idx, record in enumerate(all_records):
    print(f"{record}\n")

{'_id': ObjectId('6103096e2f2337eedd94969b'), 'CompanyName': 'iNeuron.ai', 'product': 'DataSciene Full Stack', 'prices': 18000}

{'_id': ObjectId('610432c476321068ee091d1d'), 'CompanyName': 'iNeuron.ai', 'product': 'Data Analyst', 'prices': 15500}

{'_id': ObjectId('6104339076321068ee091d1e'), 'CompanyName': 'iNeuron.ai', 'product': 'Python', 'prices': 6000}

{'_id': ObjectId('6104339076321068ee091d1f'), 'CompanyName': 'iNeuron.ai', 'product': 'Statistic', 'prices': 5000, 'pre-requisite': 'Python'}

{'_id': ObjectId('6104339076321068ee091d20'), 'CompanyName': 'iNeuron.ai', 'product': 'Database', 'prices': 6000}

{'_id': ObjectId('6105237777fe3c00f4d0c358'), 'CompanyName': 'iNeuron.ai', 'product': 'Data Analyst', 'prices': 15000}

{'_id': ObjectId('6105237977fe3c00f4d0c359'), 'CompanyName': 'iNeuron.ai', 'product': 'Python', 'prices': 6000}

{'_id': ObjectId('6105237977fe3c00f4d0c35a'), 'CompanyName': 'iNeuron.ai', 'product': 'Statistic', 'prices': 5000, 'pre-requisite': 'Python'}

{'_id': ObjectId('6105237977fe3c00f4d0c35b'), 'CompanyName': 'iNeuron.ai', 'product': 'Database', 'prices': 6000}

{'_id': ObjectId('6105238d72cfb368fc1019fe'), 'CompanyName': 'iNeuron.ai', 'product': 'Data Analyst', 'prices': 15000}

{'_id': ObjectId('6105238f72cfb368fc1019ff'), 'CompanyName': 'iNeuron.ai', 'product': 'Python', 'prices': 6000}

{'_id': ObjectId('6105238f72cfb368fc101a00'), 'CompanyName': 'iNeuron.ai', 'product': 'Statistic', 'prices': 5000, 'pre-requisite': 'Python'}

{'_id': ObjectId('6105238f72cfb368fc101a01'), 'CompanyName': 'iNeuron.ai', 'product': 'Database', 'prices': 6000}

In [60]:
#update One document
present_data = {'prices': 15000}
new_data = {"$set":{'prices': 15500}}
products.update_one(present_data, new_data)

In [ ]:
#update Many documents
present_data = {'CompanyName': 'iNeuron'}
new_data = {"$set":{'CompanyName': 'iNeuron.ai'}}
products.update_many(present_data, new_data)